.booking-btn {
    background: #F9A51A;
    width: 161px;
    height: 48px;
    border: none;
    border-radius: 5px;
    padding: 12px 29px;
    color: black;
}
.booking-btn:focus {
    outline: none;
}
.tour-spots-images img {
    width: 190px;
    height: 416px;
    background: linear-gradient(0.12deg, #000000 0.1%, rgba(0, 0, 0, 0) 69.96%);
    border-radius: 20px;
    margin-right: 20px;
}
